/node_modules
/public/hot
/storage/*.key
/public/storage
/public/js
/vendor
.env
.env_local
.env_server
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.phar
